<h1>New channel</h1>

<%= render 'form', channel: @channel %>

<%= link_to 'Back', channels_path %>
<body style="background-color:#63536b">
</body>
 <style>
body {
    color: white;
}

h1 {
    color: green;
  font-size: 40px;
  line-height: 18px;
  margin: 33px;
}
</style>