<a class="logo" href="#">
  <img alt="Logo" src="https://s23.postimg.org/z1e6va0l7/oie_Ep_Jz_Lp_Ep_Bqf1.png">
</a>

<h1 class="page-title about-us-title">About Us</h1>
<p class="about-us-text">
  Welcome to Talent Meet so alittle about us is i always notice how when it came to youtube commuinity people always ask people for help on social media thats they need someone to help them make a new video may it be acting or just voice there people out there so i wanted to end that search and make a site dedicated to anyone who needs help can finnaly have people ready to help our site is simnple but still developing just add your channel and ask for a video request when your sign in its that simple anyways thanks for being intrested on our site -sincerely Talent Meet Dev Team.
</p>
