<p id="notice"><%= notice %></p>
<a class="logo" href="#">
  <img class alt="Logo" src="https://s23.postimg.org/z1e6va0l7/oie_Ep_Jz_Lp_Ep_Bqf1.png">
</a>
<div class='container'>
  <h1 class='page-title'>Video Requests</h1>
  <div class='col-md-12'>
    <% @video_requests.each do |video_request| %>
      <%= render 'video_requests/list_item', video_request: video_request %>
    <% end %>
  </div>
</div>
