<h1>Editing Video Request Comment</h1>

<%= render 'form', video_request_comment: @video_request_comment %>

<%= link_to 'Show', @video_request_comment %> |
<%= link_to 'Back', video_request_comments_path %>
