<div class='homepage-video-request-item'>
  <span> <%= pluralize(video_request.slots, 'Slot') %> Left </span>
  <span class='homepage-video-request-item__description'><%= video_request.description %></span>
  <p> Requested By: <%= video_request.channel.name %></p>
  <%= render 'video_requests/comment_list', video_request: video_request %>

</div>
