<h1>Editing Video Request</h1>

<%= render 'form', video_request: @video_request %>

<%= link_to 'Show', @video_request %> |
<%= link_to 'Back', video_requests_path %>
<body style="background-color:#63536b">
</body>
 <style>
body {
    color: white;
}

h1 {
    color: green;
  font-size: 40px;
  line-height: 18px;
  margin: 33px;
}
</style>