// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-link {
  color: #000;
  &:hover {
    background-color: cyan;
  }
}

.homepage-video-request-item {
  border: #000 2px solid;
  margin: 5px 0;
}

.homepage-video-request-item__description {
  margin: 0 10px;
}

.logo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.about-us-title {
  text-align: center;
}

.about-us-text {
  color: #fff;
}
